.my-dashboard {
    color: #bababa;
    margin: 0;
    padding: 1.2em;
    background-color: var(--backcolor);
    width: 100vw;
    height: var(--height-dashboard);

    box-sizing: border-box;
    position: fixed;
    /* position: absolute; */
    margin-top: var(--height-top-bar);

    transition: 0.4s;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: var(--font-title);
    font-size: var(--font-title-size);
    color: var(--font-title-color);
    font-weight: var(--font-title-weight);
}

.my-text-content {
    font-family: var(--font-content);
    font-size: var(--font-content-size);
    color: var(--font-content-color);
    font-weight: var(--font-content-weight);
    font-weight: var(--font-content-weight);
}

/* ####################################################### */
/*                      Dashboard Pais */
/* ####################################################### */

.dashboard-pais {
    z-index: 2;
    top: 0px;
    left: -100%;
}

.dashboard-pais__input {
    background-color: var(--second-backcolor);
    font-family: var(--font-input);
    font-size: var(--font-size-input);
    display: block;
    box-sizing: border-box; 
    width: 95%;
    min-height: 2em;
    text-align: center;
    
    margin-bottom: 1.5em;
    border-radius: 50px;
    border: none;
    outline: none;
    color: #2d2d2d;
}

.dashboard-pais__input:active {
    filter: brightness(1.05);
}

.dashboard-pais__informacion {
    box-shadow: var(--boxshadow-small);
    padding: 1em 2em 1em 2em;
    box-sizing: border-box;
    padding-bottom: 2em;
    border-radius: 3px;
    width: 95%;
    /* height: 400px; */
    /* min-height: 60vh; */
}


/* ####################################################### */
/*                      Dashboard Global                   */
/* ####################################################### */
.dashboard-global {
    z-index: 1;
    top: 0px;
}


/* ####################################################### */
/*                      Dashboard About                    */
/* ####################################################### */
.dashboard-about {
    z-index: 3;
    top: 0px;

    right: -100%;
    box-sizing: border-box;

    background-color: #727272;
    
}

